name: Compare env changes

on:
  workflow_dispatch:
    inputs:
      base-ref:
        description: "The base ref to compare (e.g., the feature or release branch)"
        required: false
        default: "latest"
      head-ref:
        description: "The head ref to compare against (e.g., main or master)"
        required: false
        default: "master"
      env-file-path:
        description: "Path to the environment configuration file to compare"
        required: false
        default: ".env.example"

jobs:
  compare-env:
    name: Compare env changes
    runs-on: ubuntu-latest
    steps:
      - name: Compare Environment Variables
        id: compare-env
        uses: surasithaof/compare-env@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          base-ref: ${{ github.event.inputs.base-ref }}
          head-ref: ${{ github.event.inputs.head-ref }}
          env-file-path: ${{ github.event.inputs.env-file-path }}

      - name: Output Results
        run: |
          # need to use single quotes because changelog may contain backticks which break the double-quoted string
          echo '**Has changes:** ${{ steps.compare-env.outputs.has-changes }}' >> $GITHUB_STEP_SUMMARY
          echo '### Changelog:' >> $GITHUB_STEP_SUMMARY
          echo '${{ steps.compare-env.outputs.changelog }}' >> $GITHUB_STEP_SUMMARY
