name: Compare env changes

on:
  workflow_dispatch:

jobs:
  compare-env:
    name: Compare env changes
    runs-on: ubuntu-latest
    steps:
      - name: Compare Environment Variables
        uses: surasithaof/compare-env@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          base-ref: "latest"
          head-ref: ${{ github.ref }}
          env-file-path: ".env.example"
