name: Compare env changes

on:
  workflow_dispatch:

jobs:
  compare-env:
    name: Compare env changes
    runs-on: ubuntu-latest
    steps:
      - name: Compare Environment Variables
        id: compare-env
        uses: surasithaof/compare-env@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          base-ref: "latest"
          head-ref: ${{ github.ref }}
          env-file-path: ".env.example"

      - name: Output Results
        run: |
          # need to use single quotes because changelog may contain backticks which break the double-quoted string
          echo 'Has changes: ${{ steps.compare-env.outputs.has-changes }}'
          echo 'Changelog: ${{ steps.compare-env.outputs.changelog }}'

          export GITHUB_OUTPUT='has-changes=${{ steps.compare-env.outputs.has-changes }}\nchangelog=${{ steps.compare-env.outputs.changelog }}'
