name: PR checks

on:
  pull_request:
    branches:
      - master
    paths:
      - "src/**"
      - ".github/workflows/pr.yaml"
      - "test/**"
      - "package.json"

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-checks:
    name: PR Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: "Test"
        run: npx vitest --coverage.enabled true

      - name: "Report Coverage"
        uses: davelosert/vitest-coverage-report-action@v2
